.App {
  text-align: center;
}
div.btn1{
  padding: 0px 15px;
  cursor: pointer;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
.school-logo
{
  height: 40px;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}
}

.container-fluid1{
  background-image: url('./Student/images/bg9.jpeg');
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;

}
.btnSubmit{
  background-color: antiquewhite;
  color: darkred;
  font-size: medium;
  font-family: sans-serif;
}
.form-label{
  color: navajowhite;
  font-size: medium;
  font-weight: bold;
  opacity: 1;
}
input[type=text]{
  border-bottom: 2px solid rgb(250, 115, 169);
  color: whitesmoke;

}
input[type=password]{
  border-bottom: 2px solid rgb(250, 115, 169);
  color: whitesmoke;

}
.form-control{
 background:transparent;
  border-bottom-style: hidden;
  

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn1
{
 padding-left : 5px
}
div.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

div.a{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
